<button (click)="getUsers()">Refrescar</button>
<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let u of users">
    <div class="card">
      <div class="card-header">
        {{u.name.first}} {{u.name.last}}
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img src="{{u.picture.thumbnail}}" class="card-media-image">
          <div class="card-media-description">
                        <span class="card-media-title">
                            Username: {{u.login.username}}
                        </span>
            <span class="card-media-text">
                            Email: {{u.email}}
                        </span>

          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="user = u; modal = true">Detalle</button>
      </div>
    </div>
  </div>
</div>

<br>
<div *ngIf="user">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">

        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-lg-3 clr-col-12">
              <br>
              <div class="card-img"><img src="{{user.picture.large}}" class="card-media-image"></div>
            </div>
            <div class="clr-col-lg-9 clr-col-12">
              <h3 class="modal-title">{{user.name.first}} {{user.name.last}}</h3>
              {{user.dob.age}} años
              <table class="table table-vertical">
                <tbody>
                <tr>
                  <th>uuid</th>
                  <td>{{user.login.uuid}}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{user.email}}</td>
                </tr>
                </tbody>
              </table>

              <table class="table table-vertical">
                <tbody>
                <tr>
                  <th>Calle</th>
                  <td>{{user.location.street.name}} #{{user.location.street.number}}</td>
                </tr>
                <tr>
                  <th>Estado</th>
                  <td>{{user.location.state}}</td>
                </tr>
                <tr>
                  <th>Codigo Postal</th>
                  <td>{{user.location.postcode}}</td>
                </tr>
                <tr>
                  <th>Teléfono</th>
                  <td>{{user.phone}}</td>
                </tr>
                <tr>
                  <th>Celular</th>
                  <td>{{user.cell}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
        <div class="modal-footer">

          <button class="btn btn-primary" (click)="user=null" type="button">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
