<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" >
        <section class="title">
            <h3 class="welcome">Bienvenido a</h3>
            2BrainsTest
            <h5 class="hint">Donde podras encntrar tu usuario ramdm</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Correo electronico</label>
                <input type="text" name="email" clrInput placeholder="Username" formControlName="email" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password"   formControlName="password"  />
            </clr-password-container>
            <div class="error active" *ngIf="error">
                {{errorMesage}}
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <a href="javascript://" class="signup">Sign up for a Company ID</a>
        </div>
    </form>
</div>
